/* this removes the AF logo for now */
/* LMaybe not the greatest solution but let it be like this fo now :)   */
digi-header .digi-logo__img.sc-digi-logo {
  display: none !important;
}


body {
    margin: 0;
}

.my-footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: pink;
}