.digi-logo__img.sc-digi-logo {
  display: none !important;
}

.sc-digi-header-navigation-item-h.sc-digi-header-navigation-item-s>a, .sc-digi-header-navigation-item-h.sc-digi-header-navigation-item-s>a:hover, .sc-digi-header-navigation-item-h.sc-digi-header-navigation-item-s>a:hover+.digi-header-navigation-item-indicator, .sc-digi-header-navigation-item-h.sc-digi-header-navigation-item-s>a:hover+.digi-header-navigation-item-indicator--active, .sc-digi-header-navigation-item-h .sc-digi-header-navigation-item-s>a:hover+.digi-header-navigation-item-indicator--active {
    --INDICATOR-COLOR: #bc01c5;
}

.digi-header-navigation-item-indicator--active.sc-digi-header-navigation-item {
    --INDICATOR-COLOR: #8d0094;
}

.sc-digi-layout-block-h .digi-layout-block--profile.sc-digi-layout-block {
    --BACKGROUND: #6b0071;
}