:root {
    --digi--global--color--function--danger--lightest-3: #FDEDED;
    --digi--global--color--function--danger--lightest-2: #FDEDED;
    --digi--global--color--function--danger--lightest: #F09797;
    --digi--global--color--function--danger--lighter: #E75C5C;
    --digi--global--color--function--danger--light: #E84973;
    --digi--global--color--function--danger--darkest-2: #590000;
    --digi--global--color--function--danger--darkest: #6F0000;
    --digi--global--color--function--danger--darker: #8B0000;
    --digi--global--color--function--danger--dark: #C7311A;
    --digi--global--color--function--danger--base: #DA0000;
    --digi--global--color--function--warning--darkest-3: #8A7A00;
    --digi--global--color--function--warning--lightest-3: #FFFBDD;
    --digi--global--color--function--warning--lightest-2: #FFFDED;
    --digi--global--color--function--warning--lightest: #FFF6AC;
    --digi--global--color--function--warning--lighter: #FFF17D;
    --digi--global--color--function--warning--light: #FFE833;
    --digi--global--color--function--warning--darkest-2: #685B00;
    --digi--global--color--function--warning--darkest: #827400;
    --digi--global--color--function--warning--darker: #A39100;
    --digi--global--color--function--warning--dark: #FFC108;
    --digi--global--color--function--warning--base: #FFE200;
    --digi--global--color--function--success--lightest-3: #E9F6EC;
    --digi--global--color--function--success--lightest-2: #E9F6EC;
    --digi--global--color--function--success--lightest: #7DC88D;
    --digi--global--color--function--success--lighter: #5CBA71;
    --digi--global--color--function--success--light: #33A94E;
    --digi--global--color--function--success--darkest-2: #003C0E;
    --digi--global--color--function--success--darkest: #004B12;
    --digi--global--color--function--success--darker: #005E16;
    --digi--global--color--function--success--dark: #02703C;
    --digi--global--color--function--success--base: #009322;
    --digi--global--color--function--info--lightest-3: #E9E9FF;
    --digi--global--color--function--info--lightest-2: #E9E9FF;
    --digi--global--color--function--info--lightest: #7D7DFF;
    --digi--global--color--function--info--lighter: #5C5CFF;
    --digi--global--color--function--info--light: #3333FF;
    --digi--global--color--function--info--darkest-2: #000068;
    --digi--global--color--function--info--darkest: #000082;
    --digi--global--color--function--info--darker: #0000A3;
    --digi--global--color--function--info--dark: #0058A3;
    --digi--global--color--function--info--base: #0000FF;
    --digi--global--color--neutral--grayscale--lightest-6: #03111A;
    --digi--global--color--neutral--grayscale--lightest-5: #051926;
    --digi--global--color--neutral--grayscale--lightest-4: #162935; /*secondary*/
    --digi--global--color--neutral--grayscale--lightest-3: #162935;
    --digi--global--color--neutral--grayscale--lightest-2: #384752;
    --digi--global--color--neutral--grayscale--lightest: #384752;
    --digi--global--color--neutral--grayscale--lighter: #56636c;
    --digi--global--color--neutral--grayscale--light: #56636c;
    --digi--global--color--neutral--grayscale--darkest-6: #f3f4f4;
    --digi--global--color--neutral--grayscale--darkest-5: #f3f4f4; /*text*/ 
    --digi--global--color--neutral--grayscale--darkest-4: #e5e7e9;
    --digi--global--color--neutral--grayscale--darkest-3: #d7dadc;
    --digi--global--color--neutral--grayscale--darkest-2: #c8cccf;
    --digi--global--color--neutral--grayscale--darkest: #c8cccf;
    --digi--global--color--neutral--grayscale--darker: #B0B6BA;
    --digi--global--color--neutral--grayscale--dark: #99a1a6;
    --digi--global--color--neutral--grayscale--base: #758087;
    --digi--global--color--cta--visited--base: #B0B6BA;
    --digi--global--color--cta--hover--base: #BA9C3B;
    --digi--global--color--cta--link--base: #F0DB99;
    --digi--global--color--cta--blue--darker: #F0DB99; /*hover btn*/
    --digi--global--color--cta--blue--dark: #A4F5D9;
    --digi--global--color--cta--blue--base: #dafbef;
    --digi--global--color--cta--green--lighter: #DAF6A2;
    --digi--global--color--cta--green--light: #B7EE4A;
    --digi--global--color--cta--green--dark: #92BE3B;
    --digi--global--color--cta--green--base: #9FD33C;
    --digi--global--color--complementary--cerise--lightest-2: #F9E4EC;
    --digi--global--color--complementary--cerise--lightest: #F4CADA;
    --digi--global--color--complementary--cerise--lighter: #E997B7;
    --digi--global--color--complementary--cerise--light: #DD5C8E;
    --digi--global--color--complementary--cerise--darkest: #57162E;
    --digi--global--color--complementary--cerise--darker: #882149;
    --digi--global--color--complementary--cerise--dark: #AA295B;
    --digi--global--color--complementary--cerise--base: #D43372;
    --digi--global--color--complementary--turqouise--lightest-2: #DDEEEC;
    --digi--global--color--complementary--turqouise--lightest: #BDDFDA;
    --digi--global--color--complementary--turqouise--lighter: #7FC1B6;
    --digi--global--color--complementary--turqouise--light: #379D8D;
    --digi--global--color--complementary--turqouise--darkest: #02362E;
    --digi--global--color--complementary--turqouise--darker: #035548;
    --digi--global--color--complementary--turqouise--dark: #046A5A;
    --digi--global--color--complementary--turqouise--base: #058470;
    --digi--global--color--profile--white--darkest-3: #56636c;
    --digi--global--color--profile--white--darkest-2: #384752;
    --digi--global--color--profile--white--darkest: #162935;
    --digi--global--color--profile--white--darker: #0A2333; /*nav*/
    --digi--global--color--profile--white--dark: #051926;
    --digi--global--color--profile--white--base: #03111A; /*background*/ 
    --digi--global--color--profile--green--lightest: #fbf0fc;
    --digi--global--color--profile--green--lighter: #E8B4F0;
    --digi--global--color--profile--green--light: #BD4BC3;
    --digi--global--color--profile--green--dark: #430C46;
    --digi--global--color--profile--green--base: #6B0070;
    --digi--global--color--profile--blue--lighter: #dafbef;
    --digi--global--color--profile--blue--light: #A4F5D9;
    --digi--global--color--profile--blue--dark: #007049;
    --digi--global--color--profile--blue--base: #40B089;

    --digi--leaf-500: #40B089;
    --digi--color--icons--primary: #40B089;
    --digi--color--icons--secondary: #40B089;

    --digi--global--color--function--info--base: #40B089;
    
    --digi--color--background--inverted-5: #0A2333;
}

/*
:root {
    --digi--ruby-700: #C7311A;
    --digi--ruby-500: #DA0000;
    --digi--ruby-200: #FDEDED;
    --digi--amber-900: #664D00;
    --digi--amber-700: #FFC108;
    --digi--amber-500: #FFE200;
    --digi--amber-200: #FFF398;
    --digi--amber-50: #FFFBDD;
    --digi--forest-700: #02703C;
    --digi--forest-500: #009322;
    --digi--forest-200: #E9F6EC;
    --digi--indigo-700: #0058A3;
    --digi--indigo-500: #0000FF;
    --digi--indigo-200: #E9E9FF;
    --digi--amethyst-500: #822998;
    --digi--sapphire-500: #1616B2;
    --digi--pear-600: #A7D943;
    --digi--pear-500: #B7EE4A;
    --digi--water-700: #0058A3;
    --digi--water-500: #BDD3E7;
    --digi--water-200: #F1F8FE;
    --digi--jade-900: #02372F;
    --digi--jade-700: #035548;
    --digi--jade-600: #046A5A;
    --digi--jade-500: #058470;
    --digi--jade-400: #379D8D;
    --digi--jade-200: #7FC1B6;
    --digi--jade-100: #BDDFDA;
    --digi--jade-50: #DDEEEC;
    --digi--rose-900: #54172E;
    --digi--rose-700: #882149;
    --digi--rose-600: #BD2E65;
    --digi--rose-500: #D43372;
    --digi--rose-400: #DD5C8E;
    --digi--rose-200: #E997B7;
    --digi--rose-100: #F4CADA;
    --digi--rose-50: #F9E4EC;
    --digi--grayscale-1000: #000000;
    --digi--grayscale-900: #333333;
    --digi--grayscale-800: #5C5C5C;
    --digi--grayscale-700: #757575;
    --digi--grayscale-600: #ACACAC;
    --digi--grayscale-500: #CACACA;
    --digi--grayscale-400: #DDDDDD;
    --digi--grayscale-300: #E4E4E4;
    --digi--grayscale-200: #EDEDED;
    --digi--grayscale-100: #F4F4F4;
    --digi--grayscale-50: #FBFBFB;
    --digi--grayscale-0: #FFFFFF;
    --digi--leaf-600: #779B32;
    --digi--leaf-500: #95C23E;
    --digi--leaf-400: #AACE65;
    --digi--leaf-200: #DDEBC1;
    --digi--leaf-100: #F1F7E5;
    --digi--stratos-600: #46380C;
    --digi--stratos-500: #705600;
    --digi--stratos-400: #B39639;
    --digi--stratos-100: #F0DB99;
}*/