:root {
    --digi--global--color--function--danger--lightest-3: #FDEDED;
    --digi--global--color--function--danger--lightest-2: #FDEDED;
    --digi--global--color--function--danger--lightest: #F09797;
    --digi--global--color--function--danger--lighter: #E75C5C;
    --digi--global--color--function--danger--light: #E84973;
    --digi--global--color--function--danger--darkest-2: #590000;
    --digi--global--color--function--danger--darkest: #6F0000;
    --digi--global--color--function--danger--darker: #8B0000;
    --digi--global--color--function--danger--dark: #C7311A;
    --digi--global--color--function--danger--base: #DA0000;
    --digi--global--color--function--warning--darkest-3: #8A7A00;
    --digi--global--color--function--warning--lightest-3: #FFFBDD;
    --digi--global--color--function--warning--lightest-2: #FFFDED;
    --digi--global--color--function--warning--lightest: #FFF6AC;
    --digi--global--color--function--warning--lighter: #FFF17D;
    --digi--global--color--function--warning--light: #FFE833;
    --digi--global--color--function--warning--darkest-2: #685B00;
    --digi--global--color--function--warning--darkest: #827400;
    --digi--global--color--function--warning--darker: #A39100;
    --digi--global--color--function--warning--dark: #FFC108;
    --digi--global--color--function--warning--base: #FFE200;
    --digi--global--color--function--success--lightest-3: #E9F6EC;
    --digi--global--color--function--success--lightest-2: #E9F6EC;
    --digi--global--color--function--success--lightest: #7DC88D;
    --digi--global--color--function--success--lighter: #5CBA71;
    --digi--global--color--function--success--light: #33A94E;
    --digi--global--color--function--success--darkest-2: #003C0E;
    --digi--global--color--function--success--darkest: #004B12;
    --digi--global--color--function--success--darker: #005E16;
    --digi--global--color--function--success--dark: #02703C;
    --digi--global--color--function--success--base: #009322;
    --digi--global--color--function--info--lightest-3: #E9E9FF;
    --digi--global--color--function--info--lightest-2: #E9E9FF;
    --digi--global--color--function--info--lightest: #7D7DFF;
    --digi--global--color--function--info--lighter: #5C5CFF;
    --digi--global--color--function--info--light: #3333FF;
    --digi--global--color--function--info--darkest-2: #000068;
    --digi--global--color--function--info--darkest: #000082;
    --digi--global--color--function--info--darker: #0000A3;
    --digi--global--color--function--info--dark: #0058A3;
    --digi--global--color--function--info--base: #0000FF;
    --digi--global--color--neutral--grayscale--lightest-6: #FFFFFF;
    --digi--global--color--neutral--grayscale--lightest-5: #F8F8F8;
    --digi--global--color--neutral--grayscale--lightest-4: #F4F4F4;
    --digi--global--color--neutral--grayscale--lightest-3: #F1F1F1;
    --digi--global--color--neutral--grayscale--lightest-2: #EDEDED;
    --digi--global--color--neutral--grayscale--lightest: #E9E9E9;
    --digi--global--color--neutral--grayscale--lighter: #E4E4E4;
    --digi--global--color--neutral--grayscale--light: #DDDDDD;
    --digi--global--color--neutral--grayscale--darkest-6: #000000;
    --digi--global--color--neutral--grayscale--darkest-5: #333333;
    --digi--global--color--neutral--grayscale--darkest-4: #5C5C5C;
    --digi--global--color--neutral--grayscale--darkest-3: #757575;
    --digi--global--color--neutral--grayscale--darkest-2: #979797;
    --digi--global--color--neutral--grayscale--darkest: #ACACAC;
    --digi--global--color--neutral--grayscale--darker: #BDBDBD;
    --digi--global--color--neutral--grayscale--dark: #CACACA;
    --digi--global--color--neutral--grayscale--base: #D5D5D5;
    --digi--global--color--cta--visited--base: #46380C;
    --digi--global--color--cta--hover--base: #F0D478;
    --digi--global--color--cta--link--base: #705600;
    --digi--global--color--cta--blue--darker: #0058A3;
    --digi--global--color--cta--blue--dark: #BDD3E7;
    --digi--global--color--cta--blue--base: #F1F8FE;
    --digi--global--color--cta--green--lighter: #DAF6A2;
    --digi--global--color--cta--green--light: #B7EE4A;
    --digi--global--color--cta--green--dark: #92BE3B;
    --digi--global--color--cta--green--base: #9FD33C;
    --digi--global--color--complementary--cerise--lightest-2: #F9E4EC;
    --digi--global--color--complementary--cerise--lightest: #F4CADA;
    --digi--global--color--complementary--cerise--lighter: #E997B7;
    --digi--global--color--complementary--cerise--light: #DD5C8E;
    --digi--global--color--complementary--cerise--darkest: #57162E;
    --digi--global--color--complementary--cerise--darker: #882149;
    --digi--global--color--complementary--cerise--dark: #AA295B;
    --digi--global--color--complementary--cerise--base: #D43372;
    --digi--global--color--complementary--turqouise--lightest-2: #DDEEEC;
    --digi--global--color--complementary--turqouise--lightest: #BDDFDA;
    --digi--global--color--complementary--turqouise--lighter: #7FC1B6;
    --digi--global--color--complementary--turqouise--light: #379D8D;
    --digi--global--color--complementary--turqouise--darkest: #02362E;
    --digi--global--color--complementary--turqouise--darker: #035548;
    --digi--global--color--complementary--turqouise--dark: #046A5A;
    --digi--global--color--complementary--turqouise--base: #058470;
    --digi--global--color--profile--white--darkest-3: #F1F1F1;
    --digi--global--color--profile--white--darkest-2: #F4F4F4;
    --digi--global--color--profile--white--darkest: #F8F8F8;
    --digi--global--color--profile--white--darker: #FAFAFA;
    --digi--global--color--profile--white--dark: #FCFCFC;
    --digi--global--color--profile--white--base: #051926; /**/
    --digi--global--color--profile--green--lightest: #D4FFF7;
    --digi--global--color--profile--green--lighter: #AAFFEE;
    --digi--global--color--profile--green--light: #78F0D7;
    --digi--global--color--profile--green--dark: #007059;
    --digi--global--color--profile--green--base: #42C5AB;
    --digi--global--color--profile--blue--lighter: #FBAAFF;
    --digi--global--color--profile--blue--light: #8d0094;
    --digi--global--color--profile--blue--dark: #430C46;
    --digi--global--color--profile--blue--base: #6b0071;
}