.digi-navigation-pagination {
    margin: 1rem 0;
}

/*
digi-button.digi-navigation-pagination__button {
    --digi--button--color--background--secondary--hover: #40B089;
    --digi--button--color--text--secondary--hover: #03111A;
}
*/